.dataTables_wrapper {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .dataTables_wrapper .row:first-child {
        padding-bottom: 15px
    }

.custom-search-box input {
    width: 250px;
    border-radius: 6px;
}

.custom-length-menu select {
    width: 80px;
    margin-right: 10px;
    border-radius: 6px;
}

.custom-export-button .export-dropdown {
    border-radius: 8px !important;
    color: #6c757d;
    background-color: #f8f9fa;
    border: none;
    padding: 8px 15px;
    margin-right: 8px !important;
}

.custom-add-button button {
    background-color: #6559ff;
    border-radius: 6px;
    color: #fff;
    padding: 8px 15px;
}

    .custom-add-button button i {
        margin-right: 5px;
    }
